[Desktop Entry]
Name=Netrunner Desktop
Comment=Display the contents of folders
Comment[ar]=اعرض محتوى المجلدات
Comment[bg]=Показва съдържанието на папки
Comment[bs]=Prikaži sadržaj direktorija
Comment[ca]=Mostra el contingut de les carpetes
Comment[ca@valencia]=Mostra el contingut de les carpetes
Comment[cs]=Zobrazit obsah složek
Comment[da]=Vis indholdet af mapper
Comment[de]=Ordnerinhalte anzeigen
Comment[el]=Εμφάνιση περιεχομένων των φακέλων
Comment[es]=Mostrar el contenido de las carpetas
Comment[et]=Kataloogide sisu näitamine
Comment[eu]=Bistaratu karpeten edukia
Comment[fi]=Näyttää kansion sisällön
Comment[fr]=Afficher les contenus de dossiers
Comment[ga]=Taispeáin inneachar d'fhillteáin
Comment[gl]=Mostra o contido dos cartafoles
Comment[hu]=Megjeleníti a mappák tartalmát
Comment[ia]=Monstra le contentos de dossieres
Comment[is]=Sýna innihald mappa
Comment[it]=Mostra il contenuto delle cartelle
Comment[kk]=Қапшықтардағыны көрсету
Comment[km]=បង្ហាញ​មាតិកា​របស់​ថត
Comment[ko]=폴더 내용 보여주기
Comment[lt]=Rodyti aplankų turinį
Comment[lv]=Rādīt mapju saturu
Comment[mr]=संचयीकाचा मजकूर दर्शवा
Comment[nb]=Vis mappers innhold
Comment[nds]=Den Inholt vun Ornern wiesen
Comment[nl]=Toon de inhoud van mappen
Comment[pa]=ਫੋਲਡਰਾਂ ਦੀ ਸਮੱਗਰੀ ਵੇਖਾਓ
Comment[pl]=Wyświetl zawartość katalogów
Comment[pt]=Mostrar o conteúdo das pastas
Comment[pt_BR]=Mostra o conteúdo das pastas
Comment[ro]=Afișează conținutul dosarelor
Comment[ru]=Вывод содержимого папки
Comment[sk]=Zobraziť obsah priečinkov
Comment[sl]=Pokaži vsebino map
Comment[sr]=Приказује садржај фасцикли
Comment[sr@ijekavian]=Приказује садржај фасцикли
Comment[sr@ijekavianlatin]=Prikazuje sadržaj fascikli
Comment[sr@latin]=Prikazuje sadržaj fascikli
Comment[sv]=Visa innehåll i kataloger
Comment[tg]=Намоиши мазмуни феҳристҳо
Comment[tr]=Dizinlerin içeriğini göster
Comment[ug]=قىسقۇچلارنىڭ مەزمۇنلىرىنى كۆرسىتىدۇ
Comment[uk]=Показ вмісту тек
Comment[wa]=Håynêye çou k' i gn a dins des ridants
Comment[x-test]=xxDisplay the contents of foldersxx
Comment[zh_CN]=显示文件夹的内容
Comment[zh_TW]=顯示資料夾內容
Type=Service
Icon=netrunnerdesktop
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=desktop
X-Plasma-DropMimeTypes=inode/directory

X-KDE-Library=plasma_applet_netrunnerdesktop
X-KDE-PluginInfo-Author=Fredrik Höglund
X-KDE-PluginInfo-Email=fredrik@kde.org
X-KDE-PluginInfo-Name=netrunnerdesktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

